header{
  font-weight: bold;
  font-style: italic;
  color: #2f0079;
  font-size: 21px;
  border-bottom: 1px solid rgba(47,0,121, 0.1);
  padding: 20px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo {
  color: black;
}
